@model IEnumerable<ProjetoCardapio.Models.Cliente>

@{
    ViewData["Title"] = "Lista de clientes";
}

<h1 class="display-6 text-center">Clientes</h1>

<hr />

<p>
    <a asp-action="Create" class="btn btn-outline-dark">Criar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeDoCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroDaMesa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeDoCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroDaMesa)
            </td>
                <td class="col-3">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-dark">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-dark">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-dark">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
